<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Page</title>
</head>
<body>
    <h1>Show Page</h1>
    <nav class="container">
        <p>
            Name: <%= product.name %> <br>
            Price: $<%= product.price %><br>
            <img src="<%= product.image %>" alt="image">
        </p>
    </nav>
    <nav>
        <a href="/products">Back to home</a>
    </nav>
</body>
</html>